<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Create a new film</h1>
            <form (submit)="create()">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title" placeholder="Enter the title" (input)="setTitle()" [(ngModel)]="film.title">
            </div>
            <div class="form-group">
                <label for="author">Author</label>
                <input type="text" class="form-control" name="author" placeholder="Author" [(ngModel)]="film.author">
            </div>
            <div class="form-group">
                <label for="year">Year</label>
                <input type="text" class="form-control" name="year" placeholder="2018" [(ngModel)]="film.year">
            </div>
            <div class="form-group">
                <label for="image">Image</label>
                <input type="text" class="form-control" name="image" placeholder="http://www.domain.com/image.png" [(ngModel)]="film.image">
            </div>
            <button type="submit" class="btn btn-default">Create!</button>
            </form>
        </div>
    </div>
</div>