<div class="container">
  
  <h1>Films</h1>
  <p *ngIf="films?.length">Didn't find your favorite film? Maybe you want to <a routerLink="/film/create">add a new one</a> ?</p>
  <p *ngIf="!films?.length">No films found, maybe you want to <a routerLink="/film/create">add a new one</a> ?</p>

  <div *ngIf="films?.length" class="mdl-inside">
    <div class="titlebar titlebar-arrow">
      <h3 class="titlebar-title titlebar-title-md">
        <a class="titlebar-link" href="/film/sorties-semaine/">Recently added</a>
      </h3>
    </div>
    <div class="roller-holder js-roller roller-arrow-title roller-hp" data-offset="20" id="roller-1">
      <div class="roller-overflow">
        <div class="roller-slider">
          <div *ngFor="let film of films" class="roller-item">
            <div class="card card-entity-simple ">
              <a routerLink="/film/{{ film?._id }}" class="xXx thumbnail-container thumbnail-link" title="{{ film?.title }}">
                <figure class="thumbnail" [ngStyle]="{'background-image': getImage(film.image)}"></figure>
              </a>
              <div class="meta">
                <a routerLink="/film/{{ film?._id }}" class="meta-title meta-title-link" title="{{ film?.title }}">{{ film?.title }}</a>
                <div class="meta-description light">{{ film?.author }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>