<div *ngIf="film" class="container">
  <h1>Edit</h1>
  <p>You can also <a (click)="deleteFilm()">delete</a> this film if you want to.</p>
  <div class="row">
    <div class="col-md-6">
      <form (submit)="updateFilm()">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" name="title" placeholder="Enter the title" [(ngModel)]="film.title">
        </div>
        <div class="form-group">
          <label for="author">Author</label>
          <input type="text" class="form-control" name="author" placeholder="Author" [(ngModel)]="film.author">
        </div>
        <div class="form-group">
          <label for="year">Year</label>
          <input type="text" class="form-control" name="year" placeholder="2018" [(ngModel)]="film.year">
        </div>
        <button type="submit" class="btn btn-default">Update</button><button routerLink="/film/{{ film?._id }}" class="btn btn-default">Cancel</button>
      </form>
    </div>
  </div>
</div>
<div *ngIf="!film && init" class="container">
  <h1 *ngIf="!deleted" class="form-signin-heading">Not found</h1>
  <h1 *ngIf="deleted"  class="form-signin-heading">Successfully deleted</h1>
  <p><span *ngIf="!deleted">This film doesn't exist.</span><span *ngIf="deleted">This film has been deleted.</span> Back to the <a routerLink="/films">list</a> or <a routerLink="/film/create">add a new film</a> ?</p>
</div>