<div *ngIf="film" class="container">
  <h1 class="form-signin-heading">{{ film?.title }}</h1>
  <p>You can either <a routerLink="/film/{{ film?._id }}/edit">edit</a> or <a (click)="deleteFilm()">delete</a> this film.</p>
  <div class="row film">
    <div class="cover">
      <div class="card card-entity-simple">
        <figure class="thumbnail ">
            <img class="thumbnail-img" src="http://fr.web.img6.acsta.net/c_150_200/pictures/18/06/08/14/35/0842353.jpg" alt="{{ film?.title }}" width="150" height="200">
        </figure>
      </div>
    </div>
    <div class="details">
      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-1 control-label">Title</label>
          <p class="form-control-static">{{ film?.title }}</p>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label">Author</label>
          <p class="form-control-static">{{ film?.author }}</p>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label">Year</label>
          <p class="form-control-static">{{ film?.year }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!film && init" class="container">
  <h1 *ngIf="!deleted" class="form-signin-heading">Not found</h1>
  <h1 *ngIf="deleted"  class="form-signin-heading">Successfully deleted</h1>
  <p><span *ngIf="!deleted">This film doesn't exist.</span><span *ngIf="deleted">This film has been deleted.</span> Back to the <a routerLink="/films">list</a> or <a routerLink="/film/create">add a new film</a> ?</p>
</div>